services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    # opcional pero recomendado
    secrets:
      - portainer_key

volumes:
  portainer_data:

secrets:
  portainer_key:
    file: ./portainer.key