services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    environment:
      SA_PASSWORD: "${SA_PASSWORD}"
      ACCEPT_EULA: "Y"
    volumes:
      - ./data/sqlserver/sql_data:/var/opt/mssql
      - ${SQL_BACKUP_PATH}:/var/opt/mssql/backups
    ports:
      - "1433:1433"
    networks:
      - sql-network

networks:
  sql-network:
    driver: bridge
